.app-header {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding: 5px 12px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 82px;
  height: 82px;
}

.app-title {
  font-family: 'Lilita One', sans-serif;
  font-size: 64px;
  line-height: 100%;
  font-weight: 400;
  color: var(--secondary-color);
}

.app-title .highlight {
  color: var(--text-color);
}

.header-actions {
  display: flex;
  gap: 25px;
  padding-right:  1%;
}

.header-btn {
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--default-radius);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 41.13px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-color: black;
  border-style: solid;
  border-width: 1px;
    box-shadow: 9px 5px 10px 1px rgba(34, 33, 33, 0.6);
}

.github-btn {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  width: 137px;
  justify-content: space-around;
  padding: 0 1rem;
}

.pi-github {
  font-size: 2rem;
}

.header-btn:hover {
  background-color: var(--secondary-color);
}

.header-divider {
  width: calc(100% - 20px); 
  height: 0;
  margin: 0 auto;
  margin-top: 10px; 
  border-top: 1px solid var(--text-color-fixed);
}