<header class="app-header">
  <div class="header-content-wrapper"> <div class="logo-container">
      <img src="assets/favicon.svg" alt="Logo" class="logo" />
      <h1 class="app-title">NODE<span class="highlight">LIZR</span></h1>
    </div>

    <div class="header-actions">
      <a href="https://github.com/Aethelon/Nodelizr-API.git" class="header-btn github-btn">
        <i class="pi pi-github"></i> 1.0.0
      </a>
      <button class="header-btn theme-btn" (click)="toggleTheme()">
        <i class="pi" [ngClass]="isLight ? 'pi-moon' : 'pi-sun'"></i>
      </button>
      <a href="https://github.com/orgs/Aethelon/discussions" class="header-btn discussion-btn">
        <i class="pi pi-comments"></i>
      </a>
    </div>
  </div>
  <div class="header-divider"></div> 
</header>