<section class="tree-wrapper">
  <details open>
    <summary class="title">Project Structure</summary>
    <ul class="custom-tree">
      <ng-container *ngFor="let node of files">
        <li>
          <div class="tree-item">
            <span [ngClass]="node.icon"></span>
            {{ node.label }}
          </div>
          <ul *ngIf="node.children">
            <li *ngFor="let child of node.children">
              <div class="tree-item">
                <span [ngClass]="child.icon"></span>
                {{ child.label }}
              </div>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </details>
</section>
