  <hr class="footer-divider" />
<footer class="footer">
  <div class="footer__content">
    <div class="section about">
      <h2>About</h2>
      <p>
        NodeLizr is an open-source development tool to generate boilerplate Node.js projects with curated dependencies, bundled into a ZIP for quick start.
      </p>
    </div>

    <div class="section links">
      <h2>Quick Links</h2>
      <ul>
        <li>
          <strong>Contact:</strong>
          <a href="mailto:aethelontech@gmail.com" target="_blank">aethelontech&#64;gmail.com</a>
        </li>
        <li>
          <strong>API:</strong>
          <a href="https://github.com/Aethelon/Nodelizr-API" target="_blank">github.com/Aethelon/Nodelizr-API</a>
        </li>
        <li>
          <strong>Client:</strong>
          <a href="https://github.com/Aethelon/Nodelizr-APP" target="_blank">github.com/Aethelon/Nodelizr-APP</a>
        </li>
      </ul>
    </div>

    <div class="section devs">
      <h2>Developers</h2>
      <ul>
        <li>
          <a href="https://github.com/brunoliratm" target="_blank" class="profile">
            <img src="https://github.com/brunoliratm.png" alt="Bruno Magno" />
            <span>Bruno Magno</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/Paulo-Araujo-Jr" target="_blank" class="profile">
            <img src="https://github.com/Paulo-Araujo-Jr.png" alt="Paulo de Araújo" />
            <span>Paulo de Araújo</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__copyright">
    © 2025 Aethelon Tech. All rights reserved.
  </div>
</footer>
